.wrapper {
  font-size: 25px;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__watch {
    width: 30%;
    height: 430px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #191919;
    color: white;
    border-radius: 3px;
    button{
        padding: 10px 40px;
        font-size: 18px;
        cursor: pointer;
    }
  }
}
